body {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* makes the page span all the way to the bottom of the screen */
html, body{
    padding: 0;
    margin: 0;
}

html{
height: 100%;
}

body{
min-height: 100%;
}

.has-background-image { 
    background-image:  url(../images/dictionary3.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.title {
    text-align: center;
}

.input {
    width: auto;
}

.control {
    width: 200px;
}

.field {
    width: 300px;
}

.form, .field, .control {
    display: inline;
    float: none;
}

.center-children {
    text-align: center;
}

.has-text-shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.has-box-shadow {
    box-shadow: 2px 2px 4px #000000;
}

.card {
    background-color: rgba(255,255,255, 0.95);
}

.past-search-container {
    width: 60%;
}